
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Ingresar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="credencialesForm">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="credencialesForm.controls['email']" type="email"></ion-input>
    </ion-item>

    <div *ngIf="!credencialesForm.controls.email.valid && credencialesForm.controls.email.dirty"
          class="validator-error">
      <p class="no-valido">Por favor ingresar email válido.</p>
    </div>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [formControl]="credencialesForm.controls['password']" type="password"></ion-input>
    </ion-item>

    <div *ngIf="!credencialesForm.controls.password.valid && credencialesForm.controls.password.dirty"
        class="validator-error">
      <p class="no-valido">Por favor ingresar contraseña válida.</p>
    </div>

    <ion-row>
      <ion-col text-center>
        <button ion-button block color="secondary" (click)="onLogIn()"
            [disabled]="!credencialesForm.valid" (click)="onLogIn()">
          Ingresar
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="light" (click)="onForgotPassword()">
          <p class="options">¿Olvidaste tu contraseña?</p>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
          <button ion-button clear color="light" (click)="goToRegister()">
            <p class="options">¿No tenés cuenta?</p>
          </button>
        </ion-col>
      </ion-row>

  </form>
</ion-content>
