page-user-detail {

  .content {
    background-color: rgb(235, 235, 235);
  }

  /* Imagen de portada */
  .header-image {
    position: relative;
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 200px;
    }
  }

  /* Cuerpo del detalle */
  .main-content {
    position: relative;
    margin-top: -20px;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 10px;
    hr {
      margin-left: 15px;
      margin-right: 15px;
    }
    .redes-sociales {
      padding: 0px 10px;
      button {
        ion-icon {
          padding-right: 5px;
        }
      }
    }
  }

  /* Imagen de perfil */
  .circular {
    margin-left: auto;
    margin-right: auto;
    position: inherit !important;
    margin-top: -80px;
    /* top: -70px; */
    img {
      border: white solid 4px;
      border-radius: 50%;
    }
    p {
      font-size: 25px;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  /* Texto de la descripción */
  .profile-description {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    p {
      text-align: center;
      color: black;
      white-space: normal;
      font-size: 15px;
    }
  }

  #mail {
    color: rgb(10, 10, 153)
  }

  #celular {
    color: rgb(29, 255, 29);
  }

  #telefono {
    color: red;
  }
}

