<ion-header>
  <ion-navbar class='navigationBar' color='primary'>
    <ion-title>Perfil</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="header-image">
    <img src="../../assets/imgs/header_background.jpg">
  </div>
  <div class="main-content">
    <div class="circular">
      <img [src]="user_data.foto_perfil">
      <p>{{user_data.nombre}}</p>
    </div>
    <div class="profile-description">
      <p>{{user_data.descripcion}}</p>
    </div>
    <hr>
    <ion-list>
      <ion-item no-lines>
        <ion-icon name="navigate" item-start></ion-icon>
        <h2 position="stacked">Ubicación</h2>
        <p>{{user_data.ubicacion}}</p>
      </ion-item>
      <ion-item no-lines>
          <ion-icon id="mail" name="mail" item-start></ion-icon>
          <h2>E-mail</h2>
          <p>{{user_data.email}}</p>
      </ion-item>
      <ion-item no-lines>
          <ion-icon id="celular" name="logo-whatsapp" item-start></ion-icon>
          <h2>Whatsapp</h2>
          <p>{{user_data.celu}}</p>
      </ion-item>
      <ion-item no-lines>
        <ion-icon id="telefono" name="call" item-start></ion-icon>
        <h2>Teléfono</h2>
        <p>{{user_data.telefono}}</p>
      </ion-item>
    </ion-list>
    <div class="redes-sociales">
      <h1>Redes Sociales</h1>
      <button ion-button block color="primary">
        <ion-icon name="logo-linkedin" item-start></ion-icon>
        <p>LinkedIn</p>
      </button>
      <button ion-button block color="primary">
        <ion-icon name="logo-facebook" item-start></ion-icon>
        <p>Facebook</p>
      </button>
      <button ion-button block color="danger">
          <ion-icon name="logo-youtube" item-start></ion-icon>
          <p>Youtube</p>
        </button>
    </div>
  </div>
</ion-content>

