<ion-header>
  <ion-navbar class='navigationBar' color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
        pullingIcon = "arrow-dropdown"
        pullingText = "Actualizar listado"
        refreshingSpinner = "refresh"
        refreshingText = "Actualizando..">
    </ion-refresher-content>
  </ion-refresher>
  <!-- para evitar cajas vacías -->
  <ng-container *ngIf="arrayUsr.length > 0">
    <ion-list>
      <ion-item *ngFor="let usr of arrayUsr" (click)="userDetail($event,usr)">
        <ion-avatar item-start>
          <img [src]="usr.picture.thumbnail">
        </ion-avatar>
        <h2>{{usr.name.first}}</h2>
        <p>{{usr.email}}</p>
        <div></div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
