<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
        <img src='../../assets/imgs/logo_osde.svg'>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose class='menuButton'><ion-icon name="home"></ion-icon>
        Home
      </button>
      <button ion-item menuClose class='menuButton'><ion-icon name="options"></ion-icon>
        Posts
      </button>
      <button ion-item menuClose class='menuButton' (click)="onLogout()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
