// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activePage {
  background-color: #F7F7F7;
  color: #3B84ED;
  ion-icon {
    color: #3B84ED
  }
}

.inactivePage {
  ion-label {
    color: #5F6267;
  }
  ion-icon {
    color: #5F6267;
  }
}

ion-toolbar{
  img{
    height: 30px;
    padding: 5px;
  }
}

.menuButton{
  ion-label {
    color: #5F6267;
  }
  ion-icon {
    color: #5F6267;
    padding-right: 10%;
  }
}
