<ion-header>
  <ion-navbar>
    <ion-title>Crear cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="credencialesForm">

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [formControl]="credencialesForm.controls['email']" type="email"></ion-input>
        </ion-item>

        <div *ngIf="!credencialesForm.controls.email.valid && credencialesForm.controls.email.dirty"
          class="validator-error">
          <p class="no-valido">Por favor ingresar email válido.</p>
        </div>

        <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-input [formControl]="credencialesForm.controls['password']" type="password"></ion-input>
        </ion-item>

        <div *ngIf="!credencialesForm.controls.password.valid && credencialesForm.controls.password.dirty"
            class="validator-error">
          <p class="no-valido">Por favor ingresar contraseña válida.</p>
        </div>

        <ion-row>
          <ion-col text-center>
            <button ion-button block color="secondary" (click)="onRegister()"
                [disabled]="!credencialesForm.valid">
              Registrarse
            </button>
          </ion-col>
        </ion-row>
    </form>

</ion-content>
